/*Default CSS*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #999999;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

input:focus,
button:focus,
textarea:focus,
a:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

/**************************************
     Navigation Start
***************************************/
#header_menu_section {
    max-width: 1825px;
    background-color: #fff;
    border-radius: 0px 0px 0px 30px;
    margin: 0 auto;
}

img.navLogo {
    width: 147px;
}

.header_menu a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #0d0d0d !important;
}

.header_menu a.nav_link_white.nav-link {
    color: #6f6f6f !important;
}

.nav_right {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

.language {
    display: flex;
    align-items: center;
    color: #6f6f6f;
    position: relative;
}

.header_arrow_1 {
    position: absolute;
    left: 16px;
    top: -7px;
}

.header_arrow_2 {
    position: absolute;
    left: 16px;
    bottom: -6px;
}

a.login {
    text-decoration: none;
    color: #fff !important;
    background-color: #e87722;
    padding: 14px 24px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.language:before {
    content: '';
    position: absolute;
    background: #e6e6e6;
    width: 1px;
    height: 100%;
    left: -17px;
}

.nav_right a {
    text-decoration: none;
    color: #e87722;
}

.border_left:before {
    position: absolute;
    content: '';
    background: #e6e6e6;
    width: 1px;
    height: 100%;
}

.border_left {
    position: relative;
}

.menu_wrapper {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 0;
}

/**************************************
     Navigation End
***************************************/

/**************************************
     Header Banner Section Start
***************************************/
.section_width {
    max-width: 1530px;
    margin: 0 auto;
}

.banner_section {
    position: relative;
}

.banner_section .slick-slider {
    overflow: hidden;
}

.protection_plan_box img {
    width: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.protection_plan h3 {
    font-size: 24px;
    color: #fffc01;
    padding-top: 25px;
}

.protection_plan {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 20px;
    text-align: center;
    flex-wrap: wrap;
}

.protection_box {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 730px;
}

.protection_plat_wrapper {
    display: flex;
    justify-content: space-around;
    max-width: 900px;
    padding-bottom: 100px;
}

.protect_title {
    font-size: 72px;
    color: #0404ab;
    background-color: #e5e5ff;
    display: block;
    padding: 15px 15px 15px 0px;
    max-width: 78%;
    border-radius: 20%;
    margin-bottom: 85px;
}

.protection_plan_box img {
    margin: 0 auto;
}

.protection_plan_box h4 {
    color: #fff;
    font-size: 12px;
    background-color: #232075;
    padding: 7px;
    border-radius: 20% 20% 0 0;
}

.protection_plan_box {
    background: #fff;
    border-radius: 20% 20%;
}

.banner_bottom {
    padding: 35px 20px;
    background-color: #fff;
    max-width: 1010px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    bottom: -17%;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.banner_bottom_right {
    display: flex;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 5px 9px -3px #d1d1d1;
    justify-content: space-around;
    text-align: center;
}

.banner_bottom_right_wrapper span a {
    color: #f7941e;
    background-color: #fff;
    box-shadow: 0px 0px 12px -2px #d1d1d1;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.banner_bottom_right_wrapper h4 {
    color: #2c302e;
    font-size: 18px;
}

.banner_bottom_title {
    float: left;
    line-height: 55px;
    font-size: 32px;
    padding-left: 20px;
    color: #2c302e;
}

.bottom_search_icon {
    float: left;
    background: #f7941e;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

.banner_bottom_left {
    display: flex;
    align-items: center;
}

.banner_single_item:focus {
    outline: none;
}

.banner_section .slick-next {
    right: 10px;
}

.banner_section .slick-prev {
    left: 10px;
}

.slick-next,
.slick-prev {
    z-index: 10;
    width: 80px !important;
}

.banner_section .slick-next:before {
    content: url("../../assets/images/banner-icon/right-arrow.svg");
}

.banner_section .slick-prev:before {
    content: url("../../assets/images/banner-icon/left-arrow.svg");
}

/**************************************
     Header Banner Section End
***************************************/


/**************************************
    Policy Plan Start
***************************************/
.policy_plan {
    max-width: 1270px;
    margin: 160px auto;
    margin-bottom: 50px;
}

.policy_item h3 {
    font-size: 24px;
    padding-left: 20px;
}

.policy_item {
    display: flex;
}

.policy_item_1 h3 {
    color: #206175;
}

.policy_item_2 h3 {
    color: #b8409e;
}

.policy_item_3 h3 {
    color: #990012;
}

.policy_item_1 {
    background-color: rgb(32 97 117 / 0.2);
}

.policy_item_2 {
    background-color: rgb(184 64 158 / 0.2);
}

.policy_item_3 {
    background-color: rgb(153 0 18 / 0.2);
}

.policy_item_1, .policy_item_2, .policy_item_3 {
    padding: 40px 30px;
    border-radius: 10px;
}

.sanchay h2 {
    color: #4e4e4e;
    padding-top: 100px;
}

.sanchay p {
    color: #4e4e4e;
    font-size: 18px;
    letter-spacing: 0.4px;
    padding: 40px 0px;
    font-weight: 500;
}

a.shancay_details {
    text-decoration: none;
    color: #4e4e4e;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

.sanchay_button {
    padding-bottom: 50px;
}

.sanchay_button span a {
    font-size: 18px;
    color: #4e4e4e;
    font-weight: 500;
    padding: 20px 30px;
    background-color: transparent;
    transition: .3s;
    border-radius: 5px;
    display: block;
    margin-top: 45px;
    text-align: center;
}

.sanchay_button span a:hover {
    color: #fff;
    background-color: #f7941e;
}

.product_top h2 {
    font-size: 45px;
    color: #2c302e;
}

.product_top h2 span {
    font-weight: 500;
}

.product_top p {
    color: #4e4e4e;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.our_product_section {
    padding-top: 140px;
    padding-bottom: 60px;
    background-color: #f3f3f3;
}

.policy_body_wrapper {
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px #d1d1d1;
    border-radius: 20px;
}

.policy_body_wrapper img {
    border-radius: 20px;
    height: 637px;
    object-fit: cover;
}

a.view_all_button {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background-color: #232075;
    padding: 20px 45px;
    display: inline-block;
    margin-top: 50px;
    border-radius: 35px;
    transition: .2s;
}

a.view_all_button:hover {
    background-color: #303075;
}

.policy_menu {
    background-color: #2c302e;
    min-height: 637px;
    border-radius: 20px;
}

.policy_menu.nav-pills .nav-link.active, .policy_menu.nav-pills .show > .nav-link {
    background-color: transparent !important;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.policy_menu.nav-pills .nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 1.7;
    margin: 20px 0px;
    padding: 5px;
}

.policy_body_wrapper .slick-next {
    right: 50%;
    top: 100%;
}

.policy_body_wrapper .slick-prev {
    top: 100%;
    left: 50%;
}

.policy_body_wrapper .slick-next,
.policy_body_wrapper .slick-prev {
    z-index: 10;
    width: 20px !important;
}

.policy_body_wrapper .slick-next:before {
    content: url("../../assets/images/banner-icon/left-arrow.svg");
}

.policy_body_wrapper .slick-prev:before {

    content: url("../../assets/images/banner-icon/right-arrow.svg");
}

.policy_slider_wrapper_1 {
    outline: none;
}

/**************************************
    Policy Plan End
***************************************/


/**************************************
    Insurance Plan Start
***************************************/
.insurance_bg {
    background-image: url(/beatnik-tech/static/media/insuranc-bg.271612da.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 90px;
    position: relative;
    z-index: 1;
}

.insurance_bg:after {
    content: '';
    position: absolute;
    background: #0177c9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .2;
}

.insurance_width {
    max-width: 1336px;
    margin: 0 auto;
}

.insurance_title {
    color: #002287;
    font-size: 45px;
    text-align: center;
    padding-bottom: 20px;
}

.insurance_box {
    background-color: #fff;
    border: 2px solid #ececec;
    margin-bottom: 80px;
}

.insurance_box_title {
    background-color: #f8f8f8;
    text-align: center;
    padding: 30px;
    color: #1165ad;
    border-bottom: 2px solid #ececec;
}

.insurance_box_title h3 {
    font-size: 20px;
}

.isnurance_box_body {
    padding: 25px;
}

.isnurance_box_body p {
    font-size: 16px;
    color: #4e4e4e;
    font-weight: 500;
    line-height: 29px;
}

a.insurance_box_button {
    text-decoration: none;
    color: #0177c9;
    background: transparent;
    padding: 15px 20px;
    border: 1px solid #0177c9;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
}

.insurance_learn_more_button span {
    background-color: #0177c9;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/**************************************
    Insurance Plan End
***************************************/


/**************************************
    Call to Action Start
***************************************/
.call_to_action {
    background-image: url("../images/car.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 50px 0px;
    position: relative;
    z-index: 1;
}

.call_to_action:after {
    content: '';
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .6;
}

.call_action_item select#cars, .call_action_item input, .call_action_item button {
    width: 100%;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 1px 7px -2px #f7f7f7;
    border-radius: 30px;
    outline: none;
    border: none;
    font-weight: 500;
}

h2.call_to_action_title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px;
}

.call_action_item button {
    background: #f05000;
    color: #fff;
    font-size: 18px;
}

/**************************************
    Call to Action End
***************************************/