/*Default CSS*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #999999;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

p {
    font-family: 'Montserrat', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

input:focus,
button:focus,
textarea:focus,
a:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

/**************************************
     Navigation Start
***************************************/
#header_menu_section {
    max-width: 1825px;
    background-color: #fff;
    -webkit-border-radius: 0px 0px 0px 30px;
    -moz-border-radius: 0px 0px 0px 30px;
    border-radius: 0px 0px 0px 30px;
    margin: 0 auto;
}

img.navLogo {
    width: 147px;
}

.header_menu a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #0d0d0d !important;
}

.header_menu a.nav_link_white.nav-link {
    color: #6f6f6f !important;
}

.nav_right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 300px;
}

.language {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #6f6f6f;
    position: relative;
}

.header_arrow_1 {
    position: absolute;
    left: 20px;
    top: -5px;
}

.header_arrow_2 {
    position: absolute;
    left: 20px;
    bottom: -3px;
}

a.login {
    text-decoration: none;
    color: #fff !important;
    background-color: #e87722;
    padding: 14px 24px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.language:before {
    content: '';
    position: absolute;
    background: #e6e6e6;
    width: 1px;
    height: 100%;
    left: -17px;
}

.nav_right a {
    text-decoration: none;
    color: #e87722;
}

.border_left:before {
    position: absolute;
    content: '';
    background: #e6e6e6;
    width: 1px;
    height: 100%;
}

.border_left {
    position: relative;
}

.menu_wrapper {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 0;
}

/**************************************
     Navigation End
***************************************/

/**************************************
     Header Banner Section Start
***************************************/
.section_width {
    max-width: 1530px;
    margin: 0 auto;
}

.banner_section {
    position: relative;
}

.banner_section .slick-slider {
    overflow: hidden;
}

.protection_plan_box img {
    width: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.protection_plan h3 {
    font-size: 24px;
    color: #fffc01;
    padding-top: 25px;
}

.protection_plan {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 300px;
    margin: 20px;
    text-align: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.protection_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 730px;
}

.protection_plat_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 900px;
    padding-bottom: 100px;
}

.protect_title {
    font-size: 72px;
    color: #0404ab;
    background-color: #e5e5ff;
    display: block;
    padding: 15px 15px 15px 0px;
    max-width: 78%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    border-radius: 20%;
    margin-bottom: 85px;
}

.protection_plan_box img {
    margin: 0 auto;
}

.protection_plan_box h4 {
    color: #fff;
    font-size: 12px;
    background-color: #232075;
    padding: 7px;
    -webkit-border-radius: 20% 20% 0 0;
    -moz-border-radius: 20% 20% 0 0;
    border-radius: 20% 20% 0 0;
}

.protection_plan_box {
    background: #fff;
    -webkit-border-radius: 20% 20%;
    -moz-border-radius: 20% 20%;
    border-radius: 20% 20%;
}

.banner_bottom {
    padding: 35px 20px;
    background-color: #fff;
    max-width: 1010px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    bottom: -17%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.banner_bottom_right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    padding: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 5px 9px -3px #d1d1d1;
    -moz-box-shadow: 1px 5px 9px -3px #d1d1d1;
    box-shadow: 1px 5px 9px -3px #d1d1d1;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
}

.banner_bottom_right_wrapper span a {
    color: #f7941e;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 12px -2px #d1d1d1;
    -moz-box-shadow: 0px 0px 12px -2px #d1d1d1;
    box-shadow: 0px 0px 12px -2px #d1d1d1;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.banner_bottom_right_wrapper h4 {
    color: #2c302e;
    font-size: 18px;
}

.banner_bottom_title {
    float: left;
    line-height: 55px;
    font-size: 32px;
    padding-left: 20px;
    color: #2c302e;
}

.bottom_search_icon {
    float: left;
    background: #f7941e;
    padding: 10px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.banner_bottom_left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.banner_single_item:focus {
    outline: none;
}

.banner_section .slick-next {
    right: 10px;
}

.banner_section .slick-prev {
    left: 10px;
}

.slick-next,
.slick-prev {
    z-index: 10;
    width: 80px !important;
}

.banner_section .slick-next:before {
    content: url("../../assets/images/banner-icon/right-arrow.svg");
}

.banner_section .slick-prev:before {
    content: url("../../assets/images/banner-icon/left-arrow.svg");
}

/**************************************
     Header Banner Section End
***************************************/


/**************************************
    Policy Plan Start
***************************************/
.policy_plan {
    max-width: 1270px;
    margin: 160px auto;
    margin-bottom: 50px;
}

.policy_item h3 {
    font-size: 24px;
    padding-left: 20px;
}

.policy_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.policy_item_1 h3 {
    color: #206175;
}

.policy_item_2 h3 {
    color: #b8409e;
}

.policy_item_3 h3 {
    color: #990012;
}

.policy_item_1 {
    background-color: rgb(32 97 117 / 0.2);
}

.policy_item_2 {
    background-color: rgb(184 64 158 / 0.2);
}

.policy_item_3 {
    background-color: rgb(153 0 18 / 0.2);
}

.policy_item_1, .policy_item_2, .policy_item_3 {
    padding: 40px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.sanchay h2 {
    color: #4e4e4e;
    padding-top: 100px;
}

.sanchay p {
    color: #4e4e4e;
    font-size: 18px;
    letter-spacing: 0.4px;
    padding: 40px 0px;
    font-weight: 500;
}

a.shancay_details {
    text-decoration: none;
    color: #4e4e4e;
    font-weight: 500;
    font-size: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.sanchay_button {
    padding-bottom: 50px;
    text-align: center;
}

.sanchay_button span a {
    font-size: 18px;
    color: #4e4e4e;
    font-weight: 500;
    padding: 20px 30px;
    background-color: transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    margin-top: 45px;
    text-align: center;
}

.sanchay_button span a:hover {
    color: #fff;
    background-color: #f7941e;
}

.product_top h2, .news_top h2 {
    font-size: 45px;
    color: #2c302e;
}

.product_top h2 span,
.news_top span {
    font-weight: 500;
}

.product_top p {
    color: #4e4e4e;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.our_product_section {
    padding-top: 140px;
    padding-bottom: 60px;
    background-color: #f3f3f3;
}

.policy_body_wrapper {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px 0px #d1d1d1;
    -moz-box-shadow: 0px 0px 20px 0px #d1d1d1;
    box-shadow: 0px 0px 20px 0px #d1d1d1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.policy_body_wrapper img {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 637px;
    -o-object-fit: cover;
    object-fit: cover;
}

a.view_all_button, a.news_all_button {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background-color: #232075;
    padding: 20px 45px;
    display: inline-block;
    margin-top: 50px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

a.view_all_button:hover,
a.news_all_button:hover {
    background-color: #303075;
}

a.news_all_button {
    padding: 20px 80px;
    margin-bottom: 75px;
}

.policy_menu {
    background-color: #2c302e;
    min-height: 637px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.policy_menu.nav-pills .nav-link.active, .policy_menu.nav-pills .show > .nav-link {
    background-color: transparent !important;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.policy_menu.nav-pills .nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    line-height: 1.7;
    margin: 20px 0px;
    padding: 5px;
}

.policy_body_wrapper .slick-next {
    right: 50%;
    top: 100%;
}

.policy_body_wrapper .slick-prev {
    top: 100%;
    left: 50%;
}

.policy_body_wrapper .slick-next,
.policy_body_wrapper .slick-prev {
    z-index: 10;
    width: 20px !important;
}

.policy_body_wrapper .slick-next:before {
    content: url("../../assets/images/banner-icon/left-arrow.svg");
}

.policy_body_wrapper .slick-prev:before {

    content: url("../../assets/images/banner-icon/right-arrow.svg");
}

.policy_slider_wrapper_1 {
    outline: none;
}

/**************************************
    Policy Plan End
***************************************/


/**************************************
    Insurance Plan Start
***************************************/
.insurance_bg {
    background-image: url("../images/insuranc-bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 90px;
    position: relative;
    z-index: 1;
}

.insurance_bg:after {
    content: '';
    position: absolute;
    background: #0177c9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .2;
}

.insurance_width {
    max-width: 1336px;
    margin: 0 auto;
}

.insurance_title {
    color: #002287;
    font-size: 45px;
    text-align: center;
    padding-bottom: 20px;
}

.insurance_box {
    background-color: #fff;
    border: 2px solid #ececec;
    margin-bottom: 80px;
}

.insurance_box_title {
    background-color: #f8f8f8;
    text-align: center;
    padding: 30px;
    color: #1165ad;
    border-bottom: 2px solid #ececec;
}

.insurance_box_title h3 {
    font-size: 20px;
}

.isnurance_box_body {
    padding: 25px;
}

.isnurance_box_body p {
    font-size: 16px;
    color: #4e4e4e;
    font-weight: 500;
    line-height: 29px;
}

a.insurance_box_button {
    text-decoration: none;
    color: #0177c9;
    background: transparent;
    padding: 15px 20px;
    border: 1px solid #0177c9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
    transition: .2s;
}

a.insurance_box_button:hover {
    color: #fff;
    background-color: #0177c9;
}

.insurance_learn_more_button span {
    background-color: #0177c9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/**************************************
    Insurance Plan End
***************************************/


/**************************************
    Call to Action Start
***************************************/
.call_to_action {
    background-image: url("../images/car.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 50px 0px;
    position: relative;
    z-index: 1;
}

.call_to_action:after {
    content: '';
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .6;
}

.call_action_item select, .call_action_item input, .call_action_item button {
    width: 100%;
    padding: 20px;
    margin: 10px;
    -webkit-box-shadow: 0px 1px 6px 0px #5d5d5d;
    -moz-box-shadow: 0px 1px 6px 0px #5d5d5d;
    box-shadow: 0px 1px 6px 0px #5d5d5d;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-weight: 500;
}

h2.call_to_action_title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px;
}

.call_action_item button {
    background: #f05000;
    color: #fff;
    font-size: 18px;
    transition: .2s;
}

.call_action_item button:hover {
    background: #d45a1d;
}

.call_action_item input::-webkit-input-placeholder {
    color: #000;
}

.call_action_item input:-moz-placeholder {
    color: #000;
}

.call_action_item input::-moz-placeholder {
    color: #000;
}

.call_action_item input:-ms-input-placeholder {
    color: #000;
}

.call_action_item input::-ms-input-placeholder {
    color: #000;
}

.call_action_item select, .call_action_item input::placeholder {
    color: #000;
}

/**************************************
    Call to Action End
***************************************/


/**************************************
    Our Services Start
***************************************/
.services_custom_width {
    max-width: 1770px;
    margin: 0 auto;
    padding: 80px 0px;
}

.advice_box {
    background: rgb(255 146 93);
    background: -webkit-linear-gradient(45deg, rgb(255 146 93) 20%, rgb(255 189 77) 100%);
    background: -moz-linear-gradient(45deg, rgb(255 146 93) 20%, rgb(255 189 77) 100%);
    background: -o-linear-gradient(45deg, rgb(255 146 93) 20%, rgb(255 189 77) 100%);
    background: linear-gradient(45deg, rgb(255 146 93) 20%, rgb(255 189 77) 100%);
    padding: 45px 20px;
    color: #fff;
    text-align: center;
    height: 100%;
}

.advice_box h2, .service_box h2 {
    font-size: 45px;
}

.service_box {
    background: #1694a0;
    background: -webkit-gradient(linear, left top, right top, from(#1694a0), to(#27c7c4));
    background: -webkit-linear-gradient(left, #1694a0 0%, #27c7c4 100%);
    background: -moz-linear-gradient(left, #1694a0 0%, #27c7c4 100%);
    background: -o-linear-gradient(left, #1694a0 0%, #27c7c4 100%);
    background: linear-gradient(90deg, #1694a0 0%, #27c7c4 100%);
    padding: 45px 35px;
    text-align: center;
    color: #fff;
    height: 100%;
}

.advice_box span {
    padding-top: 30px;
    display: block;
    padding-bottom: 20px;
}

.advice_button a,
.services_button a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 10px 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: transparent;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    font-weight: 600;
    display: inline-block;
}

.advice_button a:hover {
    background: #ff935e;
}

.services_button a:hover {
    background-color: #1694a0;
}

.service_icon {
    font-size: 50px;
}

.all_services {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 70px;
}

.service_item a {
    font-size: 20px;
    display: block;
    padding-top: 10px;
}


/**************************************
    Our Services End
***************************************/


/**************************************
   News Event Start
***************************************/
.news_top {
    padding-bottom: 70px;
    text-align: center;
}

.news_top {
    padding-bottom: 70px;
}

.news_img {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.news_box {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 2px 16px #d1d1d1;
    -moz-box-shadow: 1px 2px 16px #d1d1d1;
    box-shadow: 1px 2px 16px #d1d1d1;
    height: 100%;
    margin-bottom: 65px;
}

.news_text {
    padding: 45px 30px;
}

.news_text h2,
.recent_news {
    font-size: 28px;
    color: #000;
    font-weight: 600;
}

.recent_news h2 {
    font-weight: 700;
}

.news_text p {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    color: #4e4e4e;
    padding-top: 20px;
}

.recent_news {
    padding: 25px;
}

.recent_news h3 {
    padding-bottom: 2px;
    display: inline-block;
}

.recent_border {
    background-color: #ececec;
    width: 100%;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
}

.recent_img {
    width: 25%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.recent_news_item a {
    font-size: 12px;
    color: #4e4e4e;
    font-weight: 500;
    font-family: inherit;
}

.recent_news_item a span {
    padding-left: 10px;
}


/**************************************
   News Event End
***************************************/


/**************************************
        Award Section Start
***************************************/
.award_section {
    background-color: #e3f5f5;
    padding: 122px 0px;
}

.awards_section_width {
    max-width: 1412px;
    margin: 0 auto;
}

.award_box {
    background-image: url("../images/awards/awards-bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.award_icon {
    position: absolute;
    top: 2%;
    left: 50%;
    width: 41px;
    transform: translateX(-50%);
}

.award_box {
    padding: 50px;
}

.award_box h4 {
    font-size: 18px;
    color: #5eaaff;
    font-weight: 500;
    padding-top: 20px;
    text-align: center;
}

.awar_imag {
    margin-top: 30px;
}

.award_title h2 {
    color: #47609c;
    font-size: 35px;
    text-align: center;
}

/**************************************
        Award Section End
***************************************/


/**************************************
       Footer Section Start
***************************************/
.footer_section {
    padding-top: 75px;
    background: #e5e5e5;
}

.footer_section .services_custom_width {
    padding-bottom: 0px;
}

.footer_logo {
    margin-bottom: 240px;
}

.footer_contact strong {
    width: 58px;
    height: 58px;
    display: inline-flex;
    background: #e87722;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.footer_contact span {
    font-size: 30px;
    color: #333333;
    font-weight: 700;
    padding-left: 10px;
}

.footer_border {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #d4d4d4;
    height: 2px;
}

.footer_social {
    margin-bottom: 30px;
}

.footer_social a {
    background-color: #fff;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
    transition: .2s;
}

.footer_social a:hover {
    background-color: #e87722;
}

.footer_menu_title {
    color: #e87721;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 25px;
    pointer-events: none;
}

.footer_menu ul li {
    list-style: none;
    line-height: 3;
}

.footer_menu ul li a {
    color: #333;
    font-weight: 500;
    letter-spacing: 0.5px;
    word-spacing: 6px;
    line-height: 1.7;
}

.footer_menu ul li:hover a {
    color: #e87721;
}

.copyright_section li {
    list-style: none;
    display: inline-block;
    margin-right: 12px;
    padding: 5px;
}

.copyright_section li a {
    color: #666666;
    font-size: 12px;
    font-weight: 500;
    font-family: inherit;
    text-decoration: none;
    transition: .2s;
}

.copyright_section li:hover a {
    color: #e87722;
}

.copyright_section li strong {
    width: 2px;
    height: 55%;
    background: #666666;
    display: block;
    position: absolute;
    top: 24%;
}

.copyright_section ul {
    position: relative;
}

.copyright_right {
    font-size: 12px;
    font-weight: 500;
    font-family: inherit;
    letter-spacing: .5px;
    padding: 5px;
}

.copyright_right a {
    color: #333;
    transition: .2s;
}

.copyright_right a:hover {
    color: #e87722;
}

.copyright_border {
    margin-bottom: 20px;
    margin-top: 0px;
}

/**************************************
       Footer Section End
***************************************/